<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 14" stopProcessing="true">
          <match url="\.(js|gif|jpg|png|css|txt)$" negate="true" ignoreCase="false" />
          <action type="Rewrite" url="public/index.php{R:1}" />
        </rule>
        <rule name="Imported Rule 15" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
